{% extends "base.html" %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    {% block content %}
        <div class="table-responsive-xl">
        <table class="table">
            <thead class="thead-dark">
                <tr class="row">

                    <th class="col-lg-3">Title</th>
                    <th class="col-lg-7">Todo Description</th>
                    <th class="col-lg-2">Options</th>
                </tr>
            </thead>

            {% for todo in todoList %}
                <tr id="{{ todo.id }}" class="{{ todo.priority }} {{ todo.status }} row">
                    <td class="col-lg-3 title">
                        {% if todo.status == 'Complete' %}<del>{% endif %}{{ todo.todoTitle }}{% if todo.status == 'Complete' %}</del>{% endif %}</td>
                    <td class="col-lg-7 desc">{{ todo.todoDescription }}</td>
                    <td class="col-lg-2 opt">
                        <div class="btn-group dropdown-menu-left">
{#                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                              <span class="octicon octicon-grabber display-block" id="dropdownMenuButton"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
{#                          </button>#}
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="{% url 'delete' todo.pk %}"><span class="octicon octicon-trashcan" aria-hidden="true"></span></a>
                              <a class="dropdown-item" href="{% url 'sentmail' %}"><span class="octicon octicon-mail" aria-hidden="true"></span></a>
                              <a class="dropdown-item" href="{% url 'update_status' todo.pk %}">
                                  {% if todo.status == 'Complete' %}
                                      <span class="octicon octicon-tasklist" aria-hidden="true"></span>
                                      {% else %} <span class="octicon octicon-three-bars" aria-hidden="true"></span>
                                  {% endif %}
{#                                  Status: {{ todo.status }}</a>#}
{#                              <div class="dropdown-divider"></div>#}
{#                              <a class="dropdown-item disabled" href="{% url 'update_status' todo.pk %}">{{ todo.todoDateTime }}</a>#}
                          </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </table>
        </div>
    {% endblock %}
</body>
</html>