.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.High{
    background-color: red;
}

.Medium{
    background-color: orange;
}

.Low{
    background-color: green;
}

tr.Complete{
    background-color: green; !important;
}

/*.dropdown-menu-right{*/
/*    z-index: 100;*/
/*}*/

.navbar {
    text-align: center;
}

.login {
    height: 80vh;
}

th{
    text-align: center;
}

td {
    text-align: center;
}

.octicon {
    font-size: 30px;
}

form label:after {
  content:"*";
  color:red;
}